<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=CLT-205B4WK\SQLEXPRESS;Initial Catalog=dbEPiServer75MvcSite1;Integrated Security=False;User ID=dbUserdbEPiServer75MvcSite1;Password=%d08051C85;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>