<connectionStrings>
	<clear />
	<add name="EPiServerDB" connectionString="Data Source=sdev-db03\SQL2008R2;Initial Catalog=dbEPiServerAnders;Integrated Security=False;User ID=dbUserEPiServerAnders;Password=Lantmannen#1;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>